body {
  background-color:rgb(103, 29, 10);
}
  h1 {
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    font-size:36pt;
    text-align: center;

section {
    text-align: center;
    object-fit: contain;
    background-color: blue;
    border:5pt solid black;
    padding: 2rem;
    color: rgb(51, 4, 4);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  
  a:link {
    color: blue;
    text-align: right;
  }
  a:visited {
    color:red;
  }
  
  .poem {
    background-color:rgb(54, 20, 4);
    object-fit: contain;
    border:5pt solid black;
    font-family: arial;
    color: purple;
    font-size:14pt;
    text-align: center;
    padding: 2rem;
  }
    
    img {
     width:15%;
     height:15%;
     border:2pt solid black;
     object-fit: contain;
}
