body {
  background-color:rgb(79, 30, 198);
}
   h1 {
    font-family: serif;
    font-weight: bold;
    font-size:45pt;
    text-align: center;
}
   h2 {
    font-family: serif;
    font-weight: bold;
    font-size:28pt;
    text-align: center;
}

   section {
    text-align: center;
    object-fit: contain;
    background-color: black;
    border:5pt solid white;
    padding: 4rem;
    color: rgb(255 255, 255);
    font-family: serif;
    font-weight: bold;
}

   a:link {
    color: blue;
    text-align: right;
}

   a:visited {
    color:red;
}

   .poem {
    background-color:rgb(79, 30, 198);
    object-fit: contain;
    border:5pt solid white;
    font-family: serif;
    color: white;
    font-size:20pt;
    text-align: center;
    padding: 2rem;
}

   img {
     width:40%;
     height:40%;
     border:5pt solid black;
     object-fit: contain;
     text-align: center;
}
